In [10]:
from dataclasses import dataclass
from enum import Enum
from pathlib import Path
from typing import List

import matplotlib.pyplot as plt
import numpy as np

from gps_accuracy.gps_accuracy import GpxResult
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
from typing import Optional
from gps_accuracy.gps_accuracy import GpxEvaluator
import pandas as pd

class InputType(Enum):
    Touch = 1
    TUI = 2
    
class Metaphor(Enum):
    Gesture = 1
    Joystick = 2
    Car =  3
    
@dataclass
class ReferenceTrack:
    track_id: int
    file: Path
    
    def __init__(self, file_path: Path):
        self.track_id = int(file_path.stem)
        self.file = file_path

@dataclass
class RecordedTrack:
    track_id: int
    user_id: int
    input_type: InputType
    metaphor: Metaphor
    file: Path
    result: GpxResult
    
    def __init__(self, file_path: Path):
        file_name = file_path.stem
        parts = file_name.split("_")
        self.track_id: int = int(parts[0])
        self.user_id: int = int(parts[1])
        self.input_type: InputType = InputType[parts[2]]
        self.metaphor: Metaphor = Metaphor[parts[3]]
        self.file: Path = file_path
    
    def evaluate(self, reference_track: ReferenceTrack):
        evaluator = GpxEvaluator(reference_track.file, self.file)
        self.result = evaluator.evaluate()
              
@dataclass
class TrackRepository:
    reference_tracks: dict
    recorded_tracks: List[RecordedTrack]
    
    def __init__(self):
        reference_track_list = [ReferenceTrack(track_file) for track_file in Path("reference_tracks").iterdir() if track_file.is_file()]
        self.reference_tracks = {track.track_id: track for track in reference_track_list}
        self.recorded_tracks = [RecordedTrack(track_file) for track_file in Path("recorded_tracks").iterdir() if track_file.is_file()]
        self._evaluate() 
    
    def _evaluate(self):
        for track in self.recorded_tracks:
            reference_track = self.reference_tracks[track.track_id]
            track.evaluate(reference_track)
        
    def get_by_track(self, track_id: int) -> List[RecordedTrack]:
        return [track for track in self.recorded_tracks if track.track_id == track_id]

    def get_by_user(self, user_id: int) -> List[RecordedTrack]:
        return [track for track in self.recorded_tracks if track.user_id == user_id]
    
    def get_by_input_type(self, input_type: InputType) -> List[RecordedTrack]:
        return [track for track in self.recorded_tracks if track.input_type == input_type]
    
    def get_by_metaphor(self, metaphor: Metaphor) -> List[RecordedTrack]:
        return [track for track in self.recorded_tracks if track.metaphor == metaphor]
    
    def get_all(self) -> List[RecordedTrack]:
        return self.recorded_tracks

class InputFilter(Enum):
    InputAll = 1
    InputCategorized = 2
    
class ResultParam(Enum):
    Time = 1
    MeanError = 2
    MedianError = 3
    PercentileError = 4
    Distance = 5
    DeltaDistance = 6
    ZoomMin = 7
    ZoomMax = 8
    ZoomMean = 9
    ZoomChange = 10

class ResultPlotter:
    def __init__(self, user_id: Optional[int] = None):
        self.repo = TrackRepository()
        tracks = self.repo.get_by_user(user_id) if user_id else self.repo.get_all()
        data = {
            'Track':  [track.track_id for track in tracks],
            'UserId': [track.user_id for track in tracks],
            'InputAll': [f"{track.input_type.name}_{track.metaphor.name}" for track in tracks],
            'InputCategorized': [track.input_type.name for track in tracks],
            ResultParam.Time.name: [track.result.time for track in tracks],
            ResultParam.MeanError.name: [track.result.error_mean for track in tracks],
            ResultParam.MedianError.name: [track.result.error_median for track in tracks],
            ResultParam.PercentileError.name: [track.result.error_percentile for track in tracks],
            ResultParam.Distance.name: [track.result.distance for track in tracks],
            ResultParam.DeltaDistance.name: [track.result.delta_distance for track in tracks],
            ResultParam.ZoomMin.name: [track.result.zoom_min for track in tracks],
            ResultParam.ZoomMax.name: [track.result.zoom_max for track in tracks],
            ResultParam.ZoomMean.name: [track.result.zoom_mean for track in tracks],
            ResultParam.ZoomChange.name: [track.result.zoom_change for track in tracks],
        }
        self.data_frame = pd.DataFrame(data)
        self.data_frame.style.format(precision=2, decimal=".")
    
    def summary(self):
        return self.data_frame.style.format(precision=2, )
    
    def print_result(self, result_param: ResultParam, input_filter: InputFilter, aggfunc: str, min:float = None, max:float = None, plot = False, color=False):
        table = self.data_frame.pivot_table(index=input_filter.name, columns="Track", values=result_param.name, aggfunc=[aggfunc], sort=False)
        if plot:
            plt.figure()
            table.plot.bar()
        style = table.style
        if color:
            style = style.background_gradient(axis=0, cmap='Reds', vmin=min, vmax=max)
        return style.format(precision=2)

In [31]:
plotter = ResultPlotter()
plotter.summary()

In [14]:
plotter.print_result(ResultParam.DeltaDistance, InputFilter.InputAll, aggfunc='mean', color=True, plot=False) # Time in seconds

In [15]:
plotter.print_result(ResultParam.Time, InputFilter.InputAll, aggfunc='mean', color=True, plot=False)

In [16]:
plotter.print_result(ResultParam.MeanError, InputFilter.InputAll, min=0, max=10, aggfunc='mean', color=True, plot=False) # Mean Error in meter

In [17]:
plotter.print_result(ResultParam.MeanError, InputFilter.InputCategorized,min=0, max=10, aggfunc='mean', color=True, plot=False)

In [18]:
plotter.print_result(ResultParam.ZoomChange, InputFilter.InputAll, aggfunc='mean')